.my-footer {
    height: 5em;
    background-color: #313131;
    margin-top: 1.5em;
    padding: 1em;
    color: white;
    font-size: 80%;
}

.header-bg{
    background-color: #644B9B;
    padding-top: 2em;
    padding-bottom: 2em;
}
.tac{
    text-align: center;
}
.fwb{
    font-weight: bold;
}

.btn-task{
    width: 10em;
    background-color: #644B9B;
    color: white;
}